.taskbar-scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0 10px;
  gap: 10px;
  flex-grow: 1;
  align-items: center;
}

/* Hide scrollbar */
.taskbar-scroll-container::-webkit-scrollbar {
  display: none;
}
.taskbar-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app-icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.2s;
}
.app-icon img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.app-icon:hover {
  transform: scale(1.1);
}
